<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー部分-->
    <header class="clearfix">
      <nav>
        <h2>Bookers</h2>
        <div class="nav-menu-area clearfix">
          <% if user_signed_in? %>
            <p class="nav-menu">
             <%= link_to(user_path(current_user), class:"home") do %>
             <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
             Home
             <% end %>
            </p>
            
            <p class="nav-menu">
            <%= link_to(destroy_user_session_path, method: :delete, class:"logout") do %>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            Logout
            <% end %>
          </p>
         <% end %>
    <%= yield %>
  </body>
</html>
